<!DOCTYPE html>
<html>
<head>
<title>PGdP Pingu-Dating</title>
</head>
<body>
  <center>
    <h2>PGdP Pingu-Dating</h2>
    <form action="/find">
      <p>
        <label for="sexualOrientation">Sexual Orientation</label>
        <input type="text" name="sexualOrientation" id="sexualOrientation" value="%sexualOrientation">
      </p>
      <p>
        <label for="minAge">Minimum Age</label>
        <input type="number" name="minAge" id="minAge" value="%minAge">
      </p>
      <p>
        <label for="maxAge">Maximum Age</label>
        <input type="number" name="maxAge" id="maxAge" value="%maxAge">
      </p>
      <p>
        <label for="hobbies">Hobbies</label>
        <input type="text" name="hobbies" id="hobbies" value="%hobbies">
      </p>
      <p>
        <input type="submit" value="Find Pingu">
      </p>
    </form>
  </center>
  <br>
  <br>
  <center>
    %table
  </center>
</body>
</html>
